* {
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
footer{
    color: blue;
    display: flex;
    justify-content: space-around;
}